<% provide(:title, "#{@user.name}") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= render 'shared/user_info' %>
      </h1>
    </section>
    <% if current_user?(@user) %>
      <div>
         <%= link_to "プロフィール編集", edit_path(current_user), class: "btn btn-x btn-primary" %>
      </div>
      <section class="micropost_form">
       <%= render 'shared/micropost_form' %>
      </section>
    <% end %>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <% unless @user.id == current_user.id %>
    <% if (current_user.followed_by? @user) && (@user.followed_by? current_user)  %>
    <% if @isRoom == true %>
      <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
    <% else %>
      <%= form_with model: @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
      <% end %>
    <% end %>
    <% end %>
  <% end %>

  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>投稿 (<%= @user.microposts.count %>)</h3>
      <div class="micropost jscroll" >
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= paginate @microposts %>
      </div>
  <% end %>
</div>
</div>

<script>
  $(window).on('scroll', function() {
      scrollHeight = $(document).height();
      scrollPosition = $(window).height() + $(window).scrollTop();
      if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.05) {
            $('.jscroll').jscroll({
              contentSelector: '.micropost',
              nextSelector: 'span.next:last a'
            });
      }
  });
</script>