<div class="mypage-wrap">
  <div class="mypage">
    <%= image_tag @user.avatar.variant(resize_to_fill: [140, 140]), class: "hoge" if @user.avatar.attached? %>
    <div class="user_info">
      <div class="user_info-top">
        <span class="sub-title-font"><%= @user.name %></span>
        <div class="user_action-form">
          <%= render 'follow_form' if logged_in? %>
          <%= render 'message_form' if logged_in? %>
          <% if current_user?(@user) %>
            <%= link_to "プロフィール編集", edit_user_path(current_user), class: "profile_edit-btn" %>
          <% end %>
        </div>
      </div>
      <div>
       <%= render 'shared/stats' %>
      </div>
    </div>
  </div>
  <div class="user_post">
    <%= link_to user_path(@user) do %>
      投稿(<%= @user.microposts.count %>)
    <% end %>
    <%= link_to likes_user_path(@user) do %>
      いいね(<%= @user.liked_posts.count %>)
    <% end %>
  </div>
</div>